*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --------banner------- */

#banner{
    height: 100vh;
    background: linear-gradient(to Right Bottom ,#6128ed 20%, #5c0ee3 80%);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#banner .logo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .col-2{
    flex: 1;
}
.container .col-2 h1,
#experience h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}
.container .col-2 h1 span{
    animation: changeColor 01s infinite;
}
@keyframes changeColor{
    0%{
        color: #ff4181;
    }
    25%{
        color: #ffce47;
    }
    50%{
        color: purple;
    }
    75%{
        color: crimson;
    }
    100%{
        color: #fff;
    }
}
.container .col-2 h2{
    font-size: 1.8rem;
    color: #130f40;
    font-weight: 600;
    margin: 20px 0;
}
.container .col-2 p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.733);
    font-weight: 400;
}
.container img{
    width: 100%;
}
.primary-btn {
    padding: 8px 0;
    color: #130f40;
    font-size: 1.6rem;
    background: linear-gradient(to Right , #ff4181 20%, #ffce47 80%);
    text-decoration: none;
    border-radius: 30px;
    margin: 20px 0;
    width: 160px;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-btn i{
    margin-left: 3px;
    margin-top: 2px;
}
.primary-btn:hover{
    background: linear-gradient(to Right , #ffce47 20%, #ff4181 80%);
    letter-spacing: 1px;
    transition: .3s;
    width: 170px;
}

/* ------frature-------- */

#feature{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#feature .container .col-2:last-child{
    margin-left: 50px;
}
#feature .container .col-2 h1{
    color: #130f40;
}
#feature .container .col-2 p{
    color: #130f40;
}
#feature .primary-btn {
    width: 220px;
}
#feature .primary-btn:hover {
    width: 240px;
}

/* ---------experience-------- */

#experience{
    padding: 100px 0;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience h1{
    color: #130f40;
    margin-left: 10%;
    font-size: 4rem;
}
#experience .container .col-2 p{
    color: #130f40;
    text-align: justify;
}
#experience .container .col-2 h2{
    font-size: 2.5rem;
}
#experience .container .col-2 h3{
    font-size: 1.8rem;
    color: orange;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
#experience .container{
    gap: 40px;
    margin-top: 50px;
}
#experience .container .col-2{
    padding: 30px 20px;
    box-shadow: 0px 0px 30px 1px #9999998c;
    border-radius: 10px;
    border-left: 1em solid;
    border-image: linear-gradient(to top, orange 0%, orangered 100%);
    border-image-slice: 1;
    overflow: hidden;
}
#experience .container .another-border{
    border-image: linear-gradient(to top, #6128ed 0%, #5c0ee3 100%);
    border-image-slice: 1;
    border-left: 1em solid;
}

/* ------footer------- */

footer{
    padding: 30px 0;
    background: #2c3e50;
    text-align: center;
}
footer p{
    font-size: 1.6rem;
    color: #fff;
}


/* ---------responsive design--------- */

@media(max-width:1024px){
    #banner{
        height: auto;
    }
    .container .col-2 h1{
        font-size: 4rem;
    }
    #feature{
        min-height: auto;
        margin: 100px 0 0;
    }
    #banner .container .col-2:last-child{
        margin-bottom: -10px;
    }
}
@media(max-width:768px){
    .container{
        flex-direction: column;
    }
    .container .col-2:first-child{
        margin: 50px 0;
    }
    #banner .container .col-2:first-child{
        margin-top: 150px;
        margin-bottom: 0;
    }
}
@media(max-width: 500px){
    html{
        font-size: 8px;
    }
    .container .col-2 h1,
    #experience h1{
        font-size: 3rem;
    }
    #feature .container .col-2:last-child {
        margin-left: 0px;
    }
}